[
<% @exercise[:collection].each do |item| %>
  <span class="element emoji"><%= "&#x#{item}".html_safe %></span>
  <%= "," unless item == @exercise[:collection].last %>
<% end %>
]

[<input id="args" type="number" class="element" value="<%= @exercise[:default]%>"></input>]

<span class="eval">#=></span>

<span id="result" class="result element emoji"></span>

<script>
  (function () {
    $("#args").keyup(function() { updateResult(this) });
    $("#args").change(function() { updateResult(this) });

    function updateResult(element) {
      $this = $(element);
      console.log("Changed", $this.val());

      $.ajax("/exercises/1/eval", {data:{args:$this.val()},
        success: function(data) {
          console.log("SUCCESS", data);
          var result_html = "";
          if(!data) {
            result_html = "NULL";
          }
          else {
            result_html = "&#x" + data + ";"
          }
          $('#result').html(result_html);
        },
        error: function() {
          console.log("ERROR");
        }
      });
    }

    $("#args").trigger("change");
  })();
</script>